<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.web.mapper.HoneyProMapper">

    <resultMap id="BaseResultMap" type="com.bosch.web.domain.HoneyPro">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="material" column="material" jdbcType="VARCHAR"/>
            <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
            <result property="so" column="so" jdbcType="VARCHAR"/>
            <result property="itemNo" column="item_no" jdbcType="INTEGER"/>
            <result property="orderQua" column="order_qua" jdbcType="VARCHAR"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="un" column="un" jdbcType="VARCHAR"/>
            <result property="des" column="des" jdbcType="VARCHAR"/>
            <result property="soldTo" column="sold_to" jdbcType="VARCHAR"/>
            <result property="shipTo" column="ship_to" jdbcType="VARCHAR"/>
            <result property="poNo" column="po_no" jdbcType="VARCHAR"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,material,material_code,
        so,item_no,order_qua,
        order_no,un,des,
        sold_to,ship_to,po_no,token,
        status,create_by,create_time,
        update_by,update_time,remark,
        delete_flag
    </sql>

    <select id="getList" parameterType="com.bosch.web.domain.dto.HoneyProDTO" resultType="com.bosch.web.domain.HoneyPro">
        select
        <include refid="Base_Column_List"/>
        from honey_pro
        where 1=1 and delete_flag=0
        <if test="material != null and material != ''">and material  like concat('%', #{material}, '%') </if>
        <if test="materialCode != null and materialCode != ''">and material_code  like concat('%', #{materialCode}, '%')</if>
        <if test="so != null and so != ''">and so  like concat('%', #{so}, '%')</if>

        <if test="orderQua != null and orderQua != ''">and order_qua  like concat('%', #{orderQua}, '%')</if>
        <if test="poNo != null and poNo != ''">and po_no  like concat('%', #{poNo}, '%')</if>
        <if test="soldTo != null and soldTo != ''">and sold_to  like concat('%', #{soldTo}, '%')</if>
        <if test="shipTo != null and shipTo != ''">and ship_to  like concat('%', #{shipTo}, '%')</if>
        <if test="token != null and token != ''">and token  = #{token}</if>

    </select>

    <select id="getToken" parameterType="com.bosch.web.domain.dto.HoneyProDTO" resultType="com.bosch.web.domain.HoneyPro">
        select
        <include refid="Base_Column_List"/>
        from honey_pro
        where 1=1 and delete_flag=0

        <if test="token != null and token != ''">and token  = #{token}</if>

    </select>
    <delete id="deleteAreaByIds" parameterType="String">
        UPDATE honey_pro SET delete_flag=1 WHERE id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateStatus">
        update honey_pro
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where token = #{token}
    </update>

    <select id="selectYear" parameterType="String" resultType="String">
        SELECT DISTINCT
            DATE_FORMAT(create_time, '%Y') AS date_group
        FROM
            honey_pro

        GROUP BY
            DATE_FORMAT(create_time, '%Y')
    </select>

    <select id="selectDate" parameterType="String" resultType="String">
        SELECT DISTINCT
        DATE_FORMAT(create_time, '%Y-%m-%d') AS date_group
        FROM
        honey_pro
        where  1=1
        <if test="materialCode != null and materialCode != ''">and material_code = #{materialCode}</if>
        GROUP BY
        DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>
</mapper>
