<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.web.mapper.HoneyVerifyMapper">

    <resultMap id="BaseResultMap" type="com.bosch.web.domain.HoneyVerify">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="proId" column="pro_id" jdbcType="BIGINT"/>
            <result property="textureResults" column="texture_results" jdbcType="VARCHAR"/>
            <result property="algoResults" column="algo_results" jdbcType="VARCHAR"/>
            <result property="totalResults" column="total_results" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>

        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="position" column="position" jdbcType="VARCHAR"/>
        <result property="userPhoneOs" column="user_phone_os" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="token" column="token" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pro_id,texture_results,
        algo_results,total_results,create_by,
        create_time,update_by,update_time,
        remark,delete_flag,pic,
        user_name,telephone,app_id,gender,position,user_phone_os,province,city,token,model
    </sql>

    <select id="getList" parameterType="com.bosch.web.domain.dto.HoneyVerifyDTO" resultType="com.bosch.web.domain.vo.HoneyVerifyResultVO">
        select
        v.id,v.pro_id,v.texture_results,
        v.algo_results,v.total_results,v.create_by,
        v.create_time,v.update_by,v.update_time,
        v.remark,v.delete_flag,p.material,p.material_code,p.so,p.item_no,p.order_qua,p.order_no,
        v.user_name,v.telephone,v.app_id,v.gender,v.position,v.user_phone_os,v.province,v.city,v.token,v.pic,v.model
        from honey_verify v
        LEFT JOIN honey_pro  p ON v.token=p.token AND   p.delete_flag=0
        where 1=1 and v.delete_flag=0
        <if test="proId != null ">and v.pro_id = #{proId}</if>
        <if test="createTimeStart != null">and v.create_time <![CDATA[ >= ]]> #{createTimeStart}</if>
        <if test="createTimeEnd != null">and v.create_time <![CDATA[ <= ]]> #{createTimeEnd}</if>
        order by v.create_time desc
    </select>

    <insert id="insertHoneyVerify" parameterType="com.bosch.web.domain.HoneyVerify">
        INSERT INTO honey_verify (
            pro_id, texture_results, algo_results, total_results,
            create_by, create_time, update_by, update_time,
            remark, delete_flag, pic, user_name, telephone,
            app_id, gender, position, user_phone_os,
            province, city, token, model
        ) VALUES (
                     #{proId}, #{textureResults}, #{algoResults}, #{totalResults},
                     #{createBy}, #{createTime}, #{updateBy}, #{updateTime},
                     #{remark}, #{deleteFlag}, #{pic}, #{userName}, #{telephone},
                     #{appId}, #{gender}, #{position}, #{userPhoneOs},
                     #{province}, #{city}, #{token}, #{model}
                 )
    </insert>

    <delete id="deleteAreaByIds" parameterType="String">
        UPDATE honey_verify SET delete_flag=1 WHERE id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getDash" parameterType="com.bosch.web.domain.dto.HoneyVerifyDTO" resultType="com.bosch.web.domain.vo.HoneyVerifyResultVO">
        select
        v.id,v.pro_id,v.texture_results,
        v.algo_results,v.total_results,v.create_by,
        v.create_time,v.update_by,v.update_time,
        v.remark,v.delete_flag,p.material,p.material_code,p.so,p.item_no,p.order_qua,p.order_no,
        v.user_name,v.telephone,v.app_id,v.gender,v.position,v.user_phone_os,v.province,v.city,v.token,v.pic,v.model
        from honey_verify v
        LEFT JOIN honey_pro  p ON  v.token=p.token  AND   p.delete_flag=0
        where 1=1 and v.delete_flag=0
        <if test="proId != null ">and v.pro_id = #{proId}</if>
        <if test="createTimeStart != null">and v.create_time <![CDATA[ >= ]]> #{createTimeStart}</if>
        <if test="createTimeEnd != null">and v.create_time <![CDATA[ <= ]]> #{createTimeEnd}</if>
        <if test="materialCode != null and materialCode != ''">and p.material_code= #{materialCode}</if>

    </select>

    <select id="getDash2" parameterType="com.bosch.web.domain.dto.HoneyVerifyDTO" resultType="com.bosch.web.domain.vo.HoneyVerifyResultVO">
        SELECT v.id,v.pro_id,v.texture_results,
               v.algo_results,v.total_results,v.create_by,
               v.create_time,v.update_by,v.update_time,
               v.remark,v.delete_flag,p.material,p.material_code,p.so,p.item_no,p.order_qua,p.order_no,
               v.user_name,v.telephone,v.app_id,v.gender,v.position,v.user_phone_os,v.province,v.city,v.token,v.pic,v.model
        FROM `honey_verify` v
                 left join honey_pro p ON v.pro_id = p.id

        where 1 = 1
          and v.token in (SELECT token
                          FROM honey_pro
                          where 1 = 1
        <if test="materialCode != null and materialCode != ''">  and material_code = #{materialCode}</if>
        <if test="createTimeFormat != null and createTimeFormat != ''">and DATE_FORMAT(create_time, '%Y-%m-%d') = #{createTimeFormat}</if>
                          )
        <if test="year != null and year != ''">    AND YEAR(v.create_time) = #{year} </if>

    </select>
</mapper>
